.header{
    background-color: rgba(0, 0, 255, 0.836);
    margin: 20px 50px;
    color: rgba(255, 255, 255, 0.97);
    border-radius: 20px;
    padding: 20px 0;
    text-align: center;
}
.header p{
    font-size: 20px;
}