.vaccine-cart{
    color: rgba(255, 255, 255, 0.96);
    margin-left: 30px;
    text-align: center;
}

.vaccine-cost-info{
    background-color: rgba(0, 0, 0, 0.95);
    padding: 5px 0;
    border-radius: 20px;
    
}

.vaccine-name{
    padding: 10px 0;
    margin-top: 30px;
    background-color: black;
    border-radius: 20px;

}

